.carousel2img{
    border-radius: 100%;
}
.imgwhitecont{
    border-radius: 100%;
    background-color: white;
}
.fullname{
    font-family: 'Gotham';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 20px;
text-align: center;
}
.starcont{
    position: relative;
   top: 1rem;
}
.commascont{
    position: absolute;
    left: 80%;
}