

/* .btn-primary{background-color: #ffffff !important;
    border: none !important;
}

.btn-primary:hover{
    background-color: #ffffff !important;
    border: none !important;
}
.btn-primary:active{
    background-color: #ffffff !important;
    border: none !important;
} */
